@{
    ViewBag.Title = "Pago Exitoso";
    Layout = "_Layout";
}
<h1 class="text-center py-5 fw-bold text-success">¡Pago Realizado con Éxito!</h1>
<p class="text-center">Tu suscripción ha sido registrada.</p>