@model ApplicationUser

<!-- Contenedor principal para centrar al medio -->
<div style="height: 100vh; display: flex; justify-content: center; align-items: center; " class="bg-success">

    <!-- Contenedor del formulario -->
    <div >

        <h1 class="text-white fw-bold">EDITAR CLIENTE</h1>

        <form class="text-light fw-semibold" style="display:flex; flex-direction:column; gap:8px; width:100%;" asp-action="Editar" method="post">
            <input asp-for="Id" type="hidden">
            <label asp-for="Nombres"></label>
            <input asp-for="Nombres" type="text"  >

            <label asp-for="Apellidos"></label>
            <input asp-for="Apellidos" type="text"  >

            <label for="">DNI</label>
            <input asp-for="DNI" type="text"  >

            <label for="">CORREO</label>
            <input asp-for="NormalizedUserName" type="email"  >

            <label for="">CELULAR</label>
            <input asp-for="Celular" type="text"  >

            <button class="btn btn-light " type="submit">EDITAR</button>
        </form>
    </div>

</div>
